*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing:border-box }

html {
  font-size: 62.5%;
 }


 html, body {
    overflow-x: hidden;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: black;
  background-color: white;
  box-sizing: border-box; 
  font-size: 1.6rem;
  padding: 0;

}
.navigation {
    margin-bottom: 2rem;
    border-bottom: 
}
.heading-none {
    display: none
}

.hamburger {
    display: none;
}


.logo {
  
    height: 5rem;
    float: left;
}

.nav-one {
    width: 100%;
    float: left;
    background-color: black;
    color: grey;
    font-size: 1.2rem;
}

.nav-one ul {
    display: flex;
  
}

.nav-one-li {
    list-style: none;
    margin: .8rem;
    
}
.nav-one-li:first-child {
    margin-left: 1rem
}
.nav-two {
    background-color: white;
    color:grey;
position: sticky;
    z-index: 999;

}
.nav-two ul{
    display: flex;
    float: left;
}

.nav-two-li {
    list-style: none;
    margin: .8rem;
}

.nav-two-li:first-child {
    margin-left: 
}


main  {
    margin-top: 50rem;
}
.search {
    background-color: white;
    float: right;
    border:none;
    color:grey;
    border-left: 1px solid rgb(201, 199, 199);
    height: 5rem;
    padding: 1rem 2rem;
}